<p style="color: green"><%= notice %></p>

<h1>Students Meetings</h1>

<h3> <FONT COLOR= "#012169"> Booked Meeetings </h3>
  <div class="container mt-5 text-center">
  <%= month_calendar(events: @meetings) do |date, meetings| %>
    <div class="day">
      <%= date.day %>
      <% meetings.each do |meeting| %>
        <div class="card-header">
            <%= link_to meeting.title, meeting %>
        </div>
    </div>

      <!--
      <div class ="card-body">
        <p class ="card-text">
        </p>
      </div>

      <div class="card-footer">
        <p class="card-text">
          From:
        </p>
        <p class="card-text">
          To:
        </p>
      </div>
      -->

    <% end %>
  <% end %>
      </div>

<br>