<p style="color: green"><%= notice %></p>

<h1>Meetings</h1>

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <div class="container">
        <%= render meeting %>
    </div>
    <p>
      <%= link_to "Show this meeting", meeting , class:"btn btn-secondary"%>
      <br>
      <br>
    </p>
  <% end %>
</div>

<br>
<%= link_to "New meeting", new_meeting_path , class:"btn btn-dark"%>
